Database Connection

In [97]:
import sqlite3

conn = sqlite3.connect('cancer.db')

try:
    conn.cursor()
    print("DB Connected");
except Exception as ex:
    print("DB not Connected");
    
    
import csv
import pandas as pd



# Import CSV
data = pd.read_csv (r'clinical_data.csv',index_col=False)   
df = pd.DataFrame(data)
 
# with open("clinical_data.tsv") as file:
#     tsv_file = csv.reader(file, delimiter="\t")
#     for line in tsv_file:
#         print(line)

DB Connected

FOLLOWING TABLES ARE CREATED -
User Table : This table contains the details of the user, who have tweeted
Cancer Type Table : This table holds different categories of cancer
Treatment Table: This table contains types of treatment based on Cancer type
Location Table:This table describes the location of the user

In [98]:
#PATIENT TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS PATIENT;''')
conn.execute('''CREATE TABLE IF NOT EXISTS PATIENT
         (
         Patient_ID TEXT PRIMARY KEY,
         Sample_ID TEXT  ,
         Age INTEGER ,
         Race TEXT  ,
         Sex TEXT   ,
         Number_of_Samples_Per_Patient INTEGER,
         Smoking_Status TEXT
         );''')

print("Patient Table created successfully");

conn.close()

#CANCER_TYPE TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS CANCER_TYPE;''')
conn.execute('''CREATE TABLE IF NOT EXISTS CANCER_TYPE
        (
         Cancer_Type_ID INTEGER PRIMARY KEY AUTOINCREMENT,
         Cancer_Type TEXT ,
         Patient_ID  TEXT  ,
         Cancer_Type_Detailed  TEXT  ,
         All_therapy_at_MSKCC TEXT ,
         FOREIGN KEY(Patient_ID) REFERENCES PATIENT(Patient_ID));''')

print("Cancer_Type Table created successfully");

conn.close()

#DIAGNOSIS TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS DIAGNOSIS;''')
conn.execute('''CREATE TABLE IF NOT EXISTS DIAGNOSIS

         (Diagnosis_ID INTEGER PRIMARY KEY AUTOINCREMENT,
          Patient_ID TEXT,
          Time_From_Diagnosis INTEGER,
          Time_to_Blood_Draw_from_Treatment INTEGER,
          FOREIGN KEY(Patient_ID) REFERENCES PATIENT(Patient_ID));''')

print("Diagnosis Table created successfully");

conn.close()

#ANTIBIOTICS TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS ANTIBIOTICS;''')
conn.execute('''CREATE TABLE IF NOT EXISTS ANTIBIOTICS

         (Alkylating_Agent_Treatment_ID INTEGER PRIMARY KEY AUTOINCREMENT ,
          Alkylating_Agent_Treatment TEXT,
          Patient_ID TEXT,
          Cumulative_Exposure_to_Alkylatin_Agent TEXT,
          Anthracycline_Treatment TEXT,
          Cumulative_Exposure_to_Anthracycline TEXT,
          Targeted_Therapy_Treatment TEXT,
          Cumulative_Exposure_to_Targeted_Therapy TEXT,
          Taxane_Treatment TEXT,
          Cumulative_Exposure_to_Taxane TEXT,
          FOREIGN KEY(Patient_ID) REFERENCES USER(Patient_ID) );''')

print("Antibiotics Table created successfully");

conn.close()

Opened database successfully
Patient Table created successfully
Opened database successfully
Cancer_Type Table created successfully
Opened database successfully
Diagnosis Table created successfully
Opened database successfully
Antibiotics Table created successfully

FOLLOWING TABLES ARE CREATED -
Tweets Table : This table contains the details of the tweet with the tweet handle name and the posted date
Hashtag Table : This table holds details on the hashtag and the tweet_id
Tweet mention Table: This table contains information about the tweet mention, source user and target user
Tweet URL Table: This table describes the URL of the tweet and the URL Id

In [99]:
#RADIOTHERAPY TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS RADIOTHERAPY;''')
conn.execute('''CREATE TABLE IF NOT EXISTS RADIOTHERAPY
         (
          Radiation_Therapy_ID INTEGER PRIMARY KEY AUTOINCREMENT,
          Patient_ID TEXT,
          Immunotherapy_Treatment TEXT,
          Radiation_Therapy TEXT,
          Radiotherapy_Treatment TEXT,
          Cumulative_Exposure_to_Immunotherapy TEXT,
          FOREIGN KEY(Patient_ID) REFERENCES PATIENT(Patient_ID));''')

print("Radiotherapy Table created successfully");

conn.close()

#CHEMOTHERAPY TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS CHEMOTHERAPY;''')
conn.execute('''CREATE TABLE IF NOT EXISTS CHEMOTHERAPY

         (
          Chemotherapy_Treatment_ID INTEGER PRIMARY KEY AUTOINCREMENT,
          Chemotherapy_Treatment TEXT,
          Patient_ID TEXT,
          Cytotoxic_Chemotherapy_Treatment TEXT ,
          Cumulative_Exposure_to_Other_Cytotoxic_Therapy TEXT ,
          Oxaliplatin_Treatment TEXT ,
          Other_Cytotoxic_Treatment TEXT ,
          Cumulative_Exposure_to_Oxaliplatin TEXT ,
          Cytotoxic_Chemotherapy_Treatment_Tertile TEXT ,
          FOREIGN KEY(Patient_ID) REFERENCES PATIENT(Patient_ID));''')

print("Chemotherapy Table created successfully");

conn.close()

#ANTIMETABOLITE TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS ANTIMETABOLITE;''')
conn.execute('''CREATE TABLE IF NOT EXISTS ANTIMETABOLITE

         (
          Antimetabolite_Treatment_ID INTEGER PRIMARY KEY AUTOINCREMENT,
          Antimetobolite_Treatment TEXT,
          Patient_ID TEXT,
          Cumulative_Exposure_to_Antimetabolite TEXT,
          Carboplatin_Treatment  TEXT,
          Cumulative_Exposure_to_Carboplatin TEXT,
          Cisplatin_Treatment TEXT,
          Cumulative_Exposure_to_Cisplatin TEXT,
          Platinum_Treatment TEXT,
          Cumulative_Exposure_to_Platinum TEXT,
          FOREIGN KEY(Patient_ID) REFERENCES PATIENT(Patient_ID));''')

print("Antimetabolite Table created successfully");

conn.close()

#MICROTUBULE TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS MICROTUBULE;''')
conn.execute('''CREATE TABLE IF NOT EXISTS MICROTUBULE

         (
          Microtubule_ID  INTEGER PRIMARY KEY AUTOINCREMENT,
          EQD_Tertiles TEXT,
          Patient_ID TEXT,
          Oncotree_Code TEXT,
          Nucleoside_Analogue_Treatment  TEXT,
          Cumulative_Exposure_to_Microtubule_Damaging_Agent TEXT,
          Mutation_Count INTEGER,
          Folic_Acid_Analog_Treatment TEXT,
          FOREIGN KEY(Patient_ID) REFERENCES PATIENT(Patient_ID));''')

print("Microtubule Table created successfully");

conn.close()


#TOPOISOMERASE TABLE
conn = sqlite3.connect('cancer.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS TOPOISOMERASE;''')
conn.execute('''CREATE TABLE IF NOT EXISTS TOPOISOMERASE

         (Topoisomerase_Treatment_ID INTEGER PRIMARY KEY AUTOINCREMENT,
          Cumulative_Exposure_to_Topoisomerase_I_Inhibitor TEXT,
          Patient_ID TEXT,
          Cumulative_Exposure_to_Topoisomerase_II_Inhibitor TEXT,
          Topoisomerase_I_Inhibitor_Treatment TEXT,
          Topoisomerase_II_Inhibitor_Treatment TEXT,
          FOREIGN KEY(Patient_ID) REFERENCES PATIENT(Patient_ID));''')

print("Topoisomerase Table created successfully");

conn.close()

Opened database successfully
Radiotherapy Table created successfully
Opened database successfully
Chemotherapy Table created successfully
Opened database successfully
Antimetabolite Table created successfully
Opened database successfully
Microtubule Table created successfully
Opened database successfully
Topoisomerase Table created successfully

Scrapping Twitter for #breastcancer

In [100]:
#INSERT PATIENT TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO PATIENT(Patient_ID, Sample_ID, Age, Race, Sex, Number_of_Samples_Per_Patient, Smoking_Status) VALUES (?,?,?,?,?,?,?)',(
                row.Patient_ID, 
                row.Sample_ID,
                row.Age,
                row.Race,
                row.Sex,
                row.Number_of_Samples_Per_Patient,
                row.Smoking_Status
                )
                )
    conn.commit()
conn.close()

#INSERT CANCER_TYPE TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO CANCER_TYPE( Cancer_Type, Patient_ID, Cancer_Type_Detailed, All_therapy_at_MSKCC) VALUES (?,?,?,?)',(
                row.Cancer_Type,
                row.Patient_ID,
                row.Cancer_Type_Detailed,
                row.All_therapy_at_MSKCC
                )
                )
    conn.commit()
conn.close()

#INSERT DIAGNOSIS TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO DIAGNOSIS( Patient_ID, Time_from_Diagnosis, Time_to_Blood_Draw_from_Treatment ) VALUES (?,?,?)',(
                row.Patient_ID,
                row.Time_from_Diagnosis,
                row.Time_to_Blood_Draw_from_Treatment
                )
                )
    conn.commit()
conn.close()


#INSERT ANTIBIOTICS TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO ANTIBIOTICS( Alkylating_Agent_Treatment, Patient_ID, Cumulative_Exposure_to_Alkylatin_Agent, Anthracycline_Treatment, Cumulative_Exposure_to_Anthracycline, Targeted_Therapy_Treatment, Cumulative_Exposure_to_Targeted_Therapy, Taxane_Treatment, Cumulative_Exposure_to_Taxane) VALUES (?,?,?,?,?,?,?,?,?)',(
                row.Alkylating_Agent_Treatment,
                row.Patient_ID,
                row.Cumulative_Exposure_to_Alkylatin_Agent,
                row.Anthracycline_Treatment,
                row.Cumulative_Exposure_to_Anthracycline,
                row.Targeted_Therapy_Treatment,
                row.Cumulative_Exposure_to_Targeted_Therapy,
                row.Taxane_Treatment,
                row.Cumulative_Exposure_to_Taxane
                )
                )
    conn.commit()
conn.close()


#INSERT RADIOTHERAPY TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO RADIOTHERAPY( Patient_ID, Immunotherapy_Treatment, Radiation_Therapy, Radiotherapy_Treatment, Cumulative_Exposure_to_Immunotherapy) VALUES (?,?,?,?,?)',(
                row.Patient_ID,
                row.Immunotherapy_Treatment,
                row.Radiation_Therapy,
                row.Radiotherapy_Treatment,
                row.Cumulative_Exposure_to_Immunotherapy
                )
                )
    conn.commit()
conn.close()


#INSERT CHEMOTHERAPY TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO CHEMOTHERAPY( Chemotherapy_Treatment, Patient_ID, Cytotoxic_Chemotherapy_Treatment, Cumulative_Exposure_to_Other_Cytotoxic_Therapy, Oxaliplatin_Treatment,Other_Cytotoxic_Treatment, Cumulative_Exposure_to_Oxaliplatin, Cytotoxic_Chemotherapy_Treatment_Tertile) VALUES (?,?,?,?,?,?,?,?)',(
                row.Chemotherapy_Treatment,
                row.Patient_ID,
                row.Cytotoxic_Chemotherapy_Treatment,
                row.Cumulative_Exposure_to_Other_Cytotoxic_Therapy,
                row.Oxaliplatin_Treatment,
                row.Other_Cytotoxic_Treatment,
                row.Cumulative_Exposure_to_Oxaliplatin,
                row.Cytotoxic_Chemotherapy_Treatment_Tertile
                )
                )
    conn.commit()
conn.close()


#INSERT ANTIMETABOLITE TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO ANTIMETABOLITE( Antimetobolite_Treatment,Patient_ID, Cumulative_Exposure_to_Antimetabolite, Carboplatin_Treatment, Cumulative_Exposure_to_Carboplatin,Cisplatin_Treatment, Cumulative_Exposure_to_Cisplatin,Platinum_Treatment, Cumulative_Exposure_to_Platinum) VALUES (?,?,?,?,?,?,?,?,?)',(
                row.Antimetobolite_Treatment,
                row.Patient_ID,
                row.Cumulative_Exposure_to_Antimetabolite,
                row.Carboplatin_Treatment,
                row.Cumulative_Exposure_to_Carboplatin,
                row.Cisplatin_Treatment,
                row.Cumulative_Exposure_to_Cisplatin,
                row.Platinum_Treatment,
                row.Cumulative_Exposure_to_Platinum
                )
                )
    conn.commit()
conn.close()


#INSERT MICROTUBULE TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO MICROTUBULE( EQD_Tertiles, Patient_ID, Oncotree_Code, Nucleoside_Analogue_Treatment, Cumulative_Exposure_to_Microtubule_Damaging_Agent,Mutation_Count, Folic_Acid_Analog_Treatment ) VALUES (?,?,?,?,?,?,?)',
               (
                row.EQD_Tertiles,
                row.Patient_ID,
                row.Oncotree_Code,
                row.Nucleoside_Analogue_Treatment,
                row.Cumulative_Exposure_to_Microtubule_Damaging_Agent,
                row.Mutation_Count,
                row.Folic_Acid_Analog_Treatment
                )
                )
    conn.commit()
conn.close()


#INSERT TOPOISOMERASE TABLE VALUES
conn = sqlite3.connect('cancer.db')
for row in df.itertuples():
    conn.execute('INSERT INTO TOPOISOMERASE( Cumulative_Exposure_to_Topoisomerase_I_Inhibitor, Patient_ID, Cumulative_Exposure_to_Topoisomerase_II_Inhibitor, Topoisomerase_I_Inhibitor_Treatment, Topoisomerase_II_Inhibitor_Treatment ) VALUES (?,?,?,?,?)',
               (
                row.Cumulative_Exposure_to_Topoisomerase_I_Inhibitor,
                row.Patient_ID,
                row.Cumulative_Exposure_to_Topoisomerase_II_Inhibitor,
                row.Topoisomerase_I_Inhibitor_Treatment,
                row.Topoisomerase_II_Inhibitor_Treatment
                )
                )
    conn.commit()
conn.close()

Scrapping Twitter for #lungcancer

Scraping Twitter for #bloodcancer

Scraping Twitter for #kidneycancer

Scraping Twitter for #bladdercancer

In [ ]:
#Most popular Cancer_Type Tweets
SELECT Cancer_Type, COUNT(Hashtag_Id)
FROM CANCER_TYPE
GROUP BY Cancer_Type
ORDER BY COUNT(Hashtag_Id) DESC;

#Most popular Treatment Type Tweets
SELECT Treatment_Type, COUNT(Treatment_Id)
FROM TREATMENT
GROUP BY Treatment_Type
ORDER BY COUNT(Treatment_Id) DESC;

#Most popular Location for cancer tweets
SELECT Location, COUNT(Location_Id)
FROM LOCATION
GROUP BY Location
ORDER BY COUNT(Location_Id) DESC;

#No. of tweets made on Lung Cancer Type
SELECT COUNT(T.Tweet_Id)
FROM TWEETS T, HASHTAG H, CANCER_TYPE C
WHERE T.Tweet_Id = H.Tweet_Id
AND H.Hashtag_Id = C.Hashtag_Id
AND C.Cancer_Type = 'lungcancer';

#No. of tweets made on Breast Cancer Type
SELECT COUNT(T.Tweet_Id)
FROM TWEETS T, HASHTAG H, CANCER_TYPE C
WHERE T.Tweet_Id = H.Tweet_Id
AND H.Hashtag_Id = C.Hashtag_Id
AND C.Cancer_Type = 'breastcancer';

#No. of tweets made on Kidney Cancer Type
SELECT COUNT(T.Tweet_Id)
FROM TWEETS T, HASHTAG H, CANCER_TYPE C
WHERE T.Tweet_Id = H.Tweet_Id
AND H.Hashtag_Id = C.Hashtag_Id
AND C.Cancer_Type = 'kidneycancer';

#Smokers got Cancer
SELECT hasCancer,COUNT(User_Id)
FROM USER
WHERE hasCancer = 'Yes'
AND Smoker = 'Yes'
ORDER BY COUNT(User_Id);

#Smokers haven't got Cancer
SELECT hasCancer,COUNT(User_Id)
FROM USER
WHERE hasCancer = 'No'
AND Smoker = 'Yes'
ORDER BY COUNT(User_Id);

#Non smokers got Cancer
SELECT hasCancer,COUNT(User_Id)
FROM USER
WHERE hasCancer = 'Yes'
AND Smoker = 'No'
ORDER BY COUNT(User_Id);

#Medical Emergency Alert
SELECT U.User_Name, U.Handle_Name, U.Smoker, U.hasCancer, U.Cancer_Type
FROM USER U, TWEETS T
WHERE U.User_Id = T.User_Id
AND Alert = 'Yes';

#Most popular Hashtag Cancer
SELECT Hashtag_Text, COUNT(Hashtag_Text)
FROM HASHTAG
GROUP BY Hashtag_Text
ORDER BY COUNT(Hashtag_Text) DESC;

#Rare Cancer Type
SELECT Cancer_Type, COUNT(Cancer_Type)
FROM CANCER_TYPE
GROUP BY Cancer_Type
ORDER BY COUNT(Cancer_Type) ASC;

#Review the tweets made by the user
SELECT * FROM TWEETS T, USER U
WHERE T.User_Id = U.User_Id;

#No. of tweets made on Skin Cancer Type
SELECT COUNT(T.Tweet_Id)
FROM TWEETS T, HASHTAG H, CANCER_TYPE C
WHERE T.Tweet_Id = H.Tweet_Id
AND H.Hashtag_Id = C.Hashtag_Id
AND C.Cancer_Type = 'skincancer';

#No. of tweets made on Prostate Cancer Type
SELECT COUNT(T.Tweet_Id)
FROM TWEETS T, HASHTAG H, CANCER_TYPE C
WHERE T.Tweet_Id = H.Tweet_Id
AND H.Hashtag_Id = C.Hashtag_Id
AND C.Cancer_Type = 'prostatecancer';